.blogcontent{
  display:grid;
  justify-content: space-around;
}

@media(max-width: 320px){
  .blogcontent{
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "hd"
    "about"
    "post"
    "ft";
  }
  }
  
  @media(min-width: 321px) and (max-width: 900px){
    .blogcontent{
      grid-template-columns: 70% 30%;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas: 
      "hd hd"
      "about post"
      "ft ft";
    }
  }
  
  @media(min-width: 901px){
    .blogcontent{
      grid-template-columns: 70% 30%;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas: 
      "hd hd"
      "about post"
      "ft ft";
    }
  }

.post{
  grid-area: post;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  }


.about {
    grid-area: about;
    height: 180px;
    margin: 25px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    border: 1px solid red;
    text-align: center;
    padding: 20px;
  }

  .logo
  {
    width: 60px;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  .pic1{
    background-image: url("../media/escher.png");
    object-fit: scale-down;
    object-position: center;
    color: white;
    margin: 5px;
    }