 @media(max-width: 320px){
    .blogcontent{
        display:grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 1fr 2fr 3fr 1fr;
        grid-template-areas:
       "hd"
       "sd"
       "main"
       "ft";
    }
  }

  @media(min-width: 600px) and (max-width: 900px){
    .blogcontent{
        display:grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas:
       "hd"
       "sd"
       "main"
       "ft";
    }
  }

  @media(min-width: 901){
    .blogcontent{
        box-sizing: border-box;
        display:grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 30vw 70vw;
        grid-template-rows: 20vh 1fr 5vh;
        grid-template-areas:
       "hd hd"
       "sd main"
       "ft ft";
    }
  }