/*Structure from https://www.bestcssbuttongenerator.com/ */
.mybutton {
	box-shadow:inset 0px 1px 3px 0px #b89191;
	background-color:#5f4040;
	border-radius: 30px;
	display:inline-block;
	cursor:pointer;
	color: white;
	padding: 10px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5d6835;
    margin-top: 5px;
    margin-bottom: 20px;
	font-size: 15px;
}
.mybutton:hover {
	background-color:#705d1f;
	transition: 2s;
}
.mybutton:active {
	position:relative;
	top:1px;
}

.subsbutton {
	box-shadow:inset 0px 1px 3px 0px #b89191;
	background-color: #700000;
	border-radius: 30px;
	display:inline-block;
	cursor: pointer;
	color: white;
	padding: 10px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5d6835;
	font-size: 18px;
}
.subsbutton:hover {
	background-color:#705d1f;
	transition: 1s;
}

@media(max-width: 600px){
	.subsbutton{
		padding: 10px;
		font-size: 16px;
	}

}

@media(max-width: 450px){
	.subsbutton{
		padding: 5px;
		font-size: 12px;
	}

}