.card {
    background-color: #c9c9c9;
    grid-area: card;
    width: 25%;
    height: fit-content;
    margin: 25px;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
  }

  .cardimage {
      object-fit: contain;
      width: 100%;
      max-height: 100%;
      object-position: center;
  }

  .card p{
    width: 20vw;
    padding: 0 20px;
    justify-content: center;
  }