.card {
    background-color: #c9c9c9;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .cardimage {
      object-fit: fill;
      border-radius: 10px 10px 0px 0px;
  }