.card {
    width: 25%;
    height: fit-content;
    margin: 25px;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    border-radius: 10px;
  }

.cardimage {
      object-fit: contain;
      width: 100%;
      max-height: 100%;
      object-position: center;
  }

.card p{
    padding: 0 20px;
    justify-content: center;
  }

@media(max-width: 600px){
  .card{
    width: 80%;
  }
}