header{
    background: white;
    box-shadow: 0 2px 5px rgb(78, 78, 78);
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "hd nav";
    box-sizing: border-box;
}

h1{
    grid-area: hd;
    font-size: 60px;
    font-weight: 1000;
    text-align: left;
    box-sizing: border-box;
    padding-left: 25px;
  }
  @media(max-width: 320px){
    h1{
      font-size: 25px;
      font-weight: 700;
    }
  }
  @media(min-width: 321px) and (max-width: 900px){
    h1{
      font-size: 40px;
      font-weight: 800;
    }
  }

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }