/*Inspired by Yuhomyan "NEUMORPHISM SOCIAL SHARE BUTTON" at https://freefrontend.com/css-social-share-buttons/ */
.social{
    grid-area: about;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: inherit;
    height: fit-content;
    width: 200px;
    padding: 25px 25px;
    position: relative;
  }
  
  .btn{
    height: 35px;
    width: 35px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    font-size: 16px;
    text-decoration: none;
  }
  .btn:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  }

  .iconsm{
    color: #2e2e2e;
  }